<div
  class="hero overlay"
  style="background-image: url('assets/images/bg_3.jpg')"
>
  <div class="site-section">
    <div class="container py-5" style="width: 50vw">
      <div class="row">
        <div class="col-lg">
          <form action="#">
            <div class="form-group">
              <input type="mail" class="form-control" placeholder="Email" />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
              />
            </div>

            <div class="form-group">
              <input
                type="submit"
                class="btn btn-primary py-3 px-5"
                value="Login"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
